= breadcrumb current_organisation.name.titleize, current_organisation
= breadcrumb 'Teams', [current_organisation, Team]
 
%p Enable teams that you wish to include in the leaderboard.

= render 'dupe_users', dupe_users: @dupe_users

.m-b-1
  - if policy(current_organisation).update?
    = link_to 'All Off', [current_organisation, Team, enabled:false], remote: true, method: :patch, 'data-disable-with': '...', class: %w[btn btn-sm btn-secondary]
    = link_to 'All On',  [current_organisation, Team, enabled:true],  remote: true, method: :patch, 'data-disable-with': '...', class: %w[btn btn-sm btn-secondary]

- @teams.sort_by { |t| t.name.downcase }.each do |team|
  = render team
