.title
  %h3 Team #{@team.name}
  = github_link(@team)


%section.m-b-2
  Members:
  = render 'users/list', collection: @team.users

= render 'pull_requests/top', hottest: @hottest_pull_requests, fastest: @fastest_pull_requests, slowest: @slowest_pull_requests

= render 'metrics/charts', organisation: current_organisation, team: @team
