.title
  %h3 Team #{@team.name}
  = github_link(@team)


%section.m-b-2
  Members:
  = render 'users/list', collection: @team.users

= render 'pull_requests/top', hottest: @hottest_pull_requests, fastest: @fastest_pull_requests, slowest: @slowest_pull_requests

= render 'metrics/charts', organisation: current_organisation, team: @team


.card.text-xs-center
  .card-block
    %h5.card-title Comment interactions
    %p.text-muted.small
      This shows who comments on whose pull requests. Arcs are proportional to number of comments.
      Comments on one's own pull requests are not included.
    .chord-graph#chord-graph{ chord_graph_data_attrs(@team) }
    %p.small#chord-info
