= breadcrumb current_organisation.name.titleize, current_organisation
= breadcrumb 'Repositories', [current_organisation, Repository]

%p
  Enable repositories you wish to consider in the leaderboard.
  
.m-b-1
  - if policy(current_organisation).update?
    = link_to 'All Off', [current_organisation, Repository, enabled:false], remote: true, method: :patch, 'data-disable-with': '...', class: %w[btn btn-sm btn-secondary]
    = link_to 'All On',  [current_organisation, Repository, enabled:true],  remote: true, method: :patch, 'data-disable-with': '...', class:  %w[btn btn-sm btn-secondary]


- @repositories.each do |repo|
  = render repo
