%ul
  - collection.each do |pull_request|
    %li
      %span[pull_request]{ class: "pull-request--#{pull_request.status}" }
        %span.pull-request-author
          = image_tag pull_request.created_by.avatar_url, class: 'img-rounded user-avatar'
        %span.pull-request-link<
          = github_link pull_request, message: "#{pull_request.repository.name}/##{pull_request.github_number}"
        %small.pull-request-title= pull_request.title
