= cache organisation do
  %div[organisation]
    = button_toggles organisation
    = image_tag organisation.avatar_url, class: 'img-rounded organisation-avatar'
    %span.organisation--name
      = link_to organisation.name, organisation
    %span.organisation--info
      = link_to "#{organisation.users_count} members", [organisation, User]
      ,
      = link_to "#{organisation.teams.count} teams", [organisation, Team]
      ,
      = link_to "#{organisation.owned_repositories_count} repositories", [organisation, Repository]
