= cache [organisation, policy(organisation).update?] do
  %span[organisation]{ class: ('organisation--disabled' unless organisation.enabled?) }
    %span.organisation-toggles= button_toggles organisation
    %span.organisation--name<
      = image_tag organisation.avatar_url, class: 'img-rounded organisation-avatar'
      - org = capture do
        = organisation.name
      - if organisation.enabled?
        = link_to(organisation) { org }
      - else
        %span= org
    %span.organisation--info
      = succeed ',' do
        = link_to_if organisation.enabled?, "#{organisation.users_count} members", [organisation, User]
      = succeed ',' do
        = link_to_if organisation.enabled?, "#{organisation.teams.count} teams", [organisation, Team]
      = succeed '.' do
        = link_to_if organisation.enabled?, "#{organisation.owned_repositories_count} repositories", [organisation, Repository]
