%h3.title #{current_organisation.name} stats

= render 'pull_requests/top', hottest: @hottest_pull_requests, fastest: @fastest_pull_requests, slowest: @slowest_pull_requests

.row
  .col-xs-12
    .card
      .card-block
        %h5.card-title 
          Leaderboard
          %span.small (past 4 weeks)
        = gh_bar_chart [current_organisation, :metric, id:'contribution_per_contributor'], height: '100px'
      .card-footer.text-muted.small
        = render 'shared/help_scoring'
        These people contributed the most activity on Github. Let's hear it for these folks!

= render 'metrics/charts', organisation: current_organisation

.row
  .col-xs-12
    .card.text-xs-center
      .card-block
        %h5.card-title Comment interactions
        %p.small.text-muted
          Arcs are proportional to number of comments. Comments within the team are included.
        .chord-graph#chord-graph{ chord_graph_data_attrs(current_organisation) }
