- if current_organisation
  = breadcrumb current_organisation.name.titleize, current_organisation
  = breadcrumb 'Members', [current_organisation, User]
  = breadcrumb "@#{@user.login}", [current_organisation, @user]
- else
  = breadcrumb "Your profile", [@user]

- if policy(:session).update?
  = link_to 'Act as user', session_path(act_as: @user.id), method: :patch, class: 'btn btn-secondary pull-xs-right'

  %h3
    @#{@user.login}
  = github_link(@user)

- if @teams.present?
  %section.m-b-2
    %span Teams:
    - if @teams.any?
      %ul.list-inline--text<
        - @teams.each do |team|
          %li<>
            - if team.enabled?
              = link_to team.name, [current_organisation, team]
            - else
              = team.name
    - else
      Not member of any team.

- if current_organisation
  .row
    .col-xs-12.col-lg-6
      .card
        .card-block
          %h5 🕐 Recent pull requests
          - if @recent_pull_requests.any?
            = render 'pull_requests/list', collection: @recent_pull_requests
          - else
            %small.text-muted
              No recently issued pull requests were found. Maybe this person is
              a new starter, or not a contributor?
      .card
        .card-block
          %h5 💬 Recent comments
          - if @recent_comments.any?
            = render 'comments/list', collection: @recent_comments
          - else
            %small.text-muted
              No recently commented pull requests were found.
              Time to go take a look on Github!

    .col-xs-12.col-lg-6
      .card
        .card-block
          %h5 Total contribution points
          .graph-timeseries{ 'data-url': url_for([current_organisation, :metric, id:'contributions_over_time', user_id: @user.id, format: 'csv']) }

    .col-xs-12.col-md-4
      .card
        .card-block
          %h5
            Pull requests issued
          .graph-radar{ data: { url: url_for([current_organisation, :metric, id:'hour_of_pull_request_created', user_id: @user.id, format: 'csv']), offset: 90, scaling: 'series' }}
          %small.text-muted Past year, by hour of day, in user's timezone
    .col-xs-12.col-md-4
      .card
        .card-block
          %h5 Comments written
          .graph-radar{ data: { url: url_for([current_organisation, :metric, id:'hour_of_comment_created', user_id: @user.id, format: 'csv']), offset: 90, scaling: 'series' }}
          %small.text-muted Past year, by hour of day, in user's timezone
    .col-xs-12.col-md-4
      .card
        .card-block
          %h5 Pull request merged
          .graph-radar{ data: { url: url_for([current_organisation, :metric, id:'hour_of_pull_request_merged', user_id: @user.id, format: 'csv']), offset: 90, scaling: 'series' }}
          %small.text-muted Past year, by hour of day, in user's timezone

- if policy(@user).update?
  .row
    .col-xs-12
      .card
        .card-block
          %h5 Settings
          = render @user_settings 
          %hr.m-t-2.m-b-2/
          = render 'form', user: @user

