.title
  %h3
    @#{@user.login}
  = github_link(@user)

  - if policy(:session).update?
    = link_to 'Act as user', session_path(act_as: @user.id), method: :patch, class: 'btn btn-secondary'

%section
  %h5 Teams
  - if @teams.any?
    %ul.list-inline<>
      - @teams.each do |team|
        %li<>
          - if team.enabled?
            = link_to team.name, [current_organisation, team]
          - else
            = team.name
  - else
    %p Not member of any team.
