!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Git Heroes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://www.google.com/jsapi', 'chartkick'
    = javascript_include_tag '//d3js.org/d3.v2.min.js'
    = csrf_meta_tags
  %body
    -# admin navbar
    - if current_user&.admin?
      %nav.navbar.navbar-full.navbar-dark.bg-danger.navbar--admin
        .container
          %ul.nav.navbar-nav
            %li.nav-item= link_to 'Users', admin_users_path, class: 'nav-link'
            %li.nav-item= link_to 'Organisations', admin_organisations_path, class: 'nav-link'

    %nav.navbar.navbar-full.navbar-dark.bg-inverse
      .container
        %ul.nav.navbar-nav
          %li.nav-item
            = link_to 'Git Heroes', root_path, class: 'nav-link'

          %li.nav-item
            - if org = current_organisation
              .dropdown
                %a.nav-link.dropdown-toggle#teamDropdown{ 'data-toggle': 'dropdown', class: ('disabled' unless current_user) }
                  Team
                .dropdown-menu{ 'aria-labelledby': 'teamDropdown' }
                  - org.teams.enabled.each do |team|
                    = link_to team.name, [org, team], class: 'dropdown-item'
                  .dropdown-divider
                  = link_to 'Configure', [org, Team], class: 'dropdown-item'
            - else
              .dropdown
                %a.nav-link.dropdown-toggle.disabled#teamDropdown{ 'data-toggle': 'dropdown' }
                  Team

          - [['Repositories', Repository], ['Members', User]].each do |title, target|
            %li.nav-item
              - if current_organisation
                = link_to title, [current_organisation, target], class: 'nav-link'
              - else
                = link_to title, '#', class: 'nav-link disabled'

          -# user menu
          %li.nav-item.pull-xs-right
            - if !current_user
              = link_to 'Log in', session_path, class: 'btn btn-secondary-outline'
            - else
              .dropdown
                %a.nav-link.dropdown-toggle#userDropdown{ 'data-toggle': 'dropdown' }
                  @#{current_user.login}
                .dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'userDropdown' }
                  = link_to 'Log out', session_path, method: :delete, class: 'dropdown-item'

          -# organisation switcher
          %li.nav-item.pull-xs-right
            .dropdown.organisation--short
              %a.nav-link.dropdown-toggle#orgDropdown{ 'data-toggle': 'dropdown', class: ('disabled' unless current_user) }
                - if current_organisation
                  = image_tag current_organisation.avatar_url, class: 'img-rounded organisation-avatar'
                  = current_organisation.login
                - else
                  Organisations
              .dropdown-menu.dropdown-menu-right{ 'aria-labelledby': 'orgDropdown' }
                - current_user&.organisations&.each do |org|
                  = link_to org, class: "dropdown-item #{'disabled' if (org == current_organisation || !org.enabled?)}" do
                    = image_tag org.avatar_url, class: 'img-rounded organisation-avatar'
                    = org.login
                .dropdown-divider
                = link_to 'Configure', [Organisation], class: "dropdown-item #{'disabled' unless policy(Organisation).update?}"

    - if @acting_user
      .alert.alert-warning(role=alert)
        You are logged in as @#{@acting_user.login} but acting as @#{current_user.login}.
        = link_to 'Stop acting', session_path, method: :patch

    - flash.each do |key, value|
      .alert.alert-danger(role=alert)
        .container
          #{key}: #{value}

    .container
      .row
        .col-sm-12
          = yield
      .row
        .col-sm-12
          = render 'shared/jobs', jobs: @jobs
