!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Git Heroes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - %w[16 64 96 32].each do |x|
      = favicon_link_tag image_path("favicon-#{x}.png"), type: 'image/png', sizes: "#{x}x#{x}"
    = csrf_meta_tags
    = yield :head
  %body
    = render 'navbar_admin' if current_user&.admin?
    = render 'navbar'
    = render 'flash_acting_as', acting_user: @acting_user
    = render 'flashes'
    = render 'background_jobs/container'
    = render 'email_prompt'

    .container.m-t-2
      .row
        .col-sm-12
          = yield

    = render 'footer'
    = render 'shared/help_modals'
    = render 'tags/google_analytics'
