!!!
%html
  %head
    = stylesheet_link_tag 'application', media: 'all'
  %body
    .container.m-t-2
      .row
        .col-xs-12
          = yield
          %hr/
        .col-xs-12.col-md-6
          %p
            = link_to @organisation do
              = image_tag 'logo-small.svg', height:24
              Git Heroes
        .col-xs-12.col-md-6
          %p.small.text-muted
            Want to give feedback, report a bug? Simply reply to this email.
            %br/
            Too much noise?
            = link_to 'Unsubscribe', [@user, t: @user.auth_token]
            from theses updates.


